[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
persiantools = "*"
redis = "*"
psycopg2-binary = "*"
djangorestframework-simplejwt = "*"
pillow = "*"

[dev-packages]
black = "*"
isort = "*"
pytest-django = "*"
model-bakery = "*"
coverage = "*"

[requires]
python_version = "3.10"
